body{
   
}
table{
align-content: center;
    border-collapse: collapse;
    text-align: left;
}
tr , td{
    padding: 5PX;
     border: 2PX solid green;
}
input{
 height: 100px;
}
.sec{
    text-align: center;
}
